*.egg-info
*.pyc
*.swp
.installed.cfg
/bin/
/develop-eggs/
/eggs/
/parts/
/ckeditor.db
ve/
build
django-ckeditor.sublime-workspace
django-ckeditor.sublime-project
*.DS_Store
.#*
*.mo
*.pyo
*.py#
*po~
*INFO#
dist